@page_background_color            : #c0c0c0;
@browserlistview_background_color : #e3e3e3;
@detailview_background_color      : #fafafa;

@browserlistview_border_radius    : 20px;
@detailview_spacing               : 39px;

@buttons_width                    : 182px;