.TabListView {
	
	.TabView {
		@tabview_height: 36px;
		@url_width: 280px;
		@title_width: 615px - @url_width - @buttons_width; //this is a magic number
		@active_bg_color: fade(#C8C8C8, 25%);

		background   : white;
		border-left  : 3px solid transparent;
		border-right : 3px solid transparent;
		border-top   : 1px solid fade(#C8C8C8, 50%);
		cursor       : pointer;
		height       : @tabview_height;
		position     : relative;

		.favicon, .url, .title, .reload, .close {
			display        : inline-block;
			vertical-align : middle;
		}

		.url, .title {
			font-size : 14px;
			padding   : 0 8px;
		}

		.title {
			.ellipsis();
			display     : inline-block;
			font-weight : bold;
			width       : @title_width;
		}

		.favicon {
			margin-right: 4px;
			width: 16px;
			height: 16px;
		}

		.url {
			background : none;
			border     : none;
			height     : inherit;
			width      : @url_width;

			&:hover, &:focus {
				background-color: @active_bg_color;
			}
		}

		.tabButton(){
			background-color    : white;
			background-position : 50% 50%;
			background-repeat   : no-repeat;
			border              : none;
			cursor              : pointer;
			float               : right;
			height              : @tabview_height;
			opacity             : 0.36;
			width               : @tabview_height;

			&:hover {
				background-color : @active_bg_color;
				opacity          : 1;
			}
		}

		.reload {
			.tabButton();
			background-image: url('../images/button-reload-black.png');
		}

		.close {
			.tabButton();
			background-image: url('../images/button-close-black.png');

			&:hover {
				background-image: url('../images/button-close-red.png');
			}
		}

		.dragHandle {
			background     : url('../images/dragHandle.png') no-repeat 50% 50%;
			cursor         : move;
			display        : inline-block;
			height         : @tabview_height;
			margin-left    : 6px;
			margin-right   : 10px;
			opacity        : 0.45;
			vertical-align : middle;
			width          : 6px;
		}

		&.active, &.active:hover {
			border-left-color  : #92bcd6;
			border-right-color : #92bcd6;
		}

		&:hover {
			border-left-color  : #d9d9d9;
			border-right-color : #d9d9d9;
		}

		&.TabInserterView {
			border-top: none;

			.favicon {
				margin-left : 22px;
				margin-top  : (@tabview_height - 16px) / 2 ;
				opacity     : 0.45;
				cursor: default;
			}

			.urlWidth {
				height   : @tabview_height;
				left     : 42px;
				position : absolute;
				right    : 0;
				top      : 0;
			}

			.url {
				.box-sizing(border-box);
				width: 100%;

				&:hover, &:focus {
					background-color: transparent;
				}
			}
		}
	}
}